.blue-green-gradient-color {}

.main_image .card-body {
    padding: 2px;
    margin: 3px;
    background-color:#ffffff ;
}

.main_image .card-body img {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}
.oscuro {
    background-color: #343a40;
    color: #f1eded;
    text-decoration-color: blue;

}
